<div class="restaurant-header">
    <div class="pull-left">
        <h1>INDEKS</h1>
    </div>
    <div class="stars-container pull-left">
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star-empty"></span>
    </div>
</div>
<div>
    <address class="text-muted">Kersnikova ulica 6, Ljubljana &ndash;
        <a href="#">show on a map</a>
    </address>
</div>
<div class="container-fluid">
    <div class="row">

        <div class="col-md-6 col-md-push-6 restaurant-comments" id="accordion">
            <div class=" panel panel-primary">
                <div class="panel-heading panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                        Show comments
                    </a>
                </div>

                <div id="collapseOne" class="panel-collapse collapse comments-panel">
                    <div class="panel-body">
                        <form>
                            <div class="form-group">
                                <textarea name="comment" class="form-control"
                                          placeholder="Leave a comment..."
                                          rows="3"></textarea>
                            </div>
                        </form>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <span class="author">Jozko Mrkvicka</span>
                                <span class="glyphicon glyphicon-time"></span>
                                <span class="timestamp">2014-05-12 04:14:39</span>
                                <br/>
                                        <span class="comment-text">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                                            irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                                            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                                            deserunt mollit anim id est laborum.
                                        </span>
                            </li>

                            <li class="list-group-item">
                                <span class="author">Jozko Mrkvicka</span>
                                <span class="glyphicon glyphicon-time"></span>
                                <span class="timestamp">2014-05-12 04:14:39</span>
                                <br/>
                                        <span class="comment-text">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                                            irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                                            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                                            deserunt mollit anim id est laborum.
                                        </span>
                            </li>
                        </ul>

                    </div>
                </div>

            </div>
        </div>


        <div class="col-md-6 col-md-pull-6 restaurant-menu">

            <div class="panel panel-primary">
                <div class="panel-body">
                    <ul>
                        <li>DNEVNA JUHA</li>
                        <li>GOVEJI BEEF STROGANOFF,MLINCI,ZELENJAVA NA MASLU</li>
                        <li>SOLATNI BAR</li>
                        <li>SLADICA</li>
                    </ul>
                </div>
            </div>

            <div class="panel panel-primary">
                <div class="panel-body">
                    <ul>
                        <li>DNEVNA JUHA</li>
                        <li>GOVEJI BEEF STROGANOFF,MLINCI,ZELENJAVA NA MASLU</li>
                        <li>SOLATNI BAR</li>
                        <li>SLADICA</li>
                    </ul>
                </div>
            </div>

        </div>

    </div>
</div>
