<div class="panel panel-primary">
    <div class="panel-heading">
        <a href="#detail" class="restaurant-name">INDEKS</a>

        <div class="pull-right">
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
        </div>
    </div>
    <div class="panel-body">
        <address class="text-muted">Kersnikova ulica 6, Ljubljana</address>

        <div class="price-container pull-left">
            Price: <span class="price text-primary">1.50 €</span>
        </div>
        <div class="restaurant-services pull-right">
            <img src="images/icon-lunch.png" alt="Lunch" title="Lunch"/>
            <img src="images/icon-wheel-chair.png" alt="Wheel chair"
                 title="Access for disabled persons"/>
            <img src="images/icon-vegetarian.png" alt="Vegetarian" title="Vegetarian"/>
        </div>
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <a href="#detail" class="restaurant-name">Kitajska restavracija Novi Šanghai</a>

        <div class="pull-right">
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
        </div>
    </div>
    <div class="panel-body">
        <address class="text-muted">Kapitelska 5, Ljubljana</address>

        <div class="price-container pull-left">
            Price: <span class="price text-primary">2.70 €</span>
        </div>
        <div class="restaurant-services pull-right">
            <img src="images/icon-lunch.png" alt="Lunch" title="Lunch"/>
            <img src="images/icon-weekend.png" alt="Calendar" title="Open on weekends"/>
            <img src="images/icon-vegetarian.png" alt="Vegetarian" title="Vegetarian"/>
        </div>
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <a href="#detail" class="restaurant-name">Mehiška restavracija Imperio
            mexicano</a>

        <div class="pull-right">
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
        </div>
    </div>
    <div class="panel-body">
        <address class="text-muted">Kapitelska 5, Ljubljana</address>

        <div class="price-container pull-left">
            Price: <span class="price text-primary">3.27 €</span>
        </div>
        <div class="restaurant-services pull-right">
            <img src="images/icon-celiac.png" alt="Celiac"
                 title="Meals suitable for celiac disease"/>
            <img src="images/icon-wheel-chair-wc.png" alt="Wheel chair WC"
                 title="Access to WC for disabled persons"/>
            <img src="images/icon-salad-bar.png" alt="Salad" title="Salad bar"/>
            <img src="images/icon-weekend.png" alt="Calendar" title="Open on weekends"/>
            <img src="images/icon-lunch.png" alt="Lunch" title="Lunch"/>
            <img src="images/icon-vegetarian.png" alt="Vegetarian" title="Vegetarian"/>
        </div>
    </div>
</div>
