<div class="panel panel-primary">
    <div class="panel-heading">
        <a href="#detail/<%= id %>" class="restaurant-name"><%= name %></a>

        <div class="pull-right">
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
        </div>
    </div>
    <div class="panel-body">
        <address class="text-muted"><%= address %></address>

        <div class="price-container pull-left">
            Price: <span class="price text-primary"><%= price %></span>
        </div>
        <div class="restaurant-services pull-right">
            <%
            for (var i = 0, len = features.length; i < len; i++) {
            var feature = features[i];
            %>
            <img src="images/<%= feature.iconName %>" alt="<%= feature.name %>" title="<%= feature.title %>"/>
            <% } %>
        </div>
    </div>
</div>
