<ul class="list-group">
    <li class="list-group-item">
        <select class="form-control">
            <option selected="selected">Select a category...</option>
            <option>Asian</option>
            <option>Indian</option>
            <option>Mexican</option>
        </select>
    </li>
    <li class="list-group-item checkbox">
        <label>
            <input type="checkbox"/> all
        </label>
    </li>
    <li class="list-group-item checkbox">
        <label>
            <input type="checkbox"/> vegetarian
        </label>
    </li>
    <li class="list-group-item checkbox">
        <label>
            <input type="checkbox"/> celiatic
        </label>
    </li>
    <li class="list-group-item checkbox">
        <label>
            <input type="checkbox"/> open on weekends
        </label>
    </li>
    <li class="list-group-item checkbox">
        <label>
            <input type="checkbox"/> delivery
        </label>
    </li>
    <li class="list-group-item checkbox">
        <label>
            <input type="checkbox"/> salad bar
        </label>
    </li>
    <li class="list-group-item checkbox">
        <label>
            <input type="checkbox"/> access for disabled
        </label>
    </li>
    <li class="list-group-item checkbox">
        <label>
            <input type="checkbox"/> access for disabled (WC)
        </label>
    </li>
    <li class="list-group-item checkbox">
        <label>
            <input type="checkbox"/> pizzas
        </label>
    </li>
    <li class="list-group-item checkbox">
        <label>
            <input type="checkbox"/> sandwiches
        </label>
    </li>
    <li class="list-group-item checkbox">
        <label>
            <input type="checkbox"/> lunch
        </label>
    </li>
    <li class="list-group-item checkbox">
        <label>
            <input type="checkbox"/> fast food
        </label>
    </li>
</ul>
