body {
    padding-top: 50px;
}
address {
    font-size: 13px;
}
.top-menu {
    margin-bottom: 0;
}
.sidebar {
    position: fixed;
    width: 20%;
    height: 100%;
    background-color: #f8f8f8;
}
.sidebar li {
    margin: 0;
    padding: 0;
}
.sidebar li:hover {
    background-color: #eee;
}
.sidebar label {
    width: 100%;
    padding: 10px 15px 10px 30px;
}
.content {
    position: absolute;
    right: 0;
    width: 80%;
}
.map {
    position: fixed;
    height: 100%;
}
.restaurants-list, .restaurant-detail {
    padding: 15px;
}
.restaurant-name, .restaurant-name:hover {
    color: #ffffff;
}
.price {
    font-size: 22px;
}

.restaurant-header {
    height: 70px;
    margin-top: -10px;
}
.stars-container {
    font-size: 20px;
    color: #428bca;
    padding-top: 26px;
    padding-left: 12px;
}
.author {
    font-weight: bold;
}
.restaurant-menu {
}
.restaurant-comments {
}
