parameters:
    database:
        dsn: '%database.driver%:host=%database.host%;dbname=%database.dbname%'
        driver: mysql
        host: localhost
        dbname: easy_boni
        user: root
        password:
